body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #444240;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.page-header {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
}
.page-header__main-nav {
  display: flex;
}
.main-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 65px;
  margin-left: 266px;
}
.main-nav__link {
  font-size: 14px;
  line-height: 16px;
  color: #555248;
}

.user-nav__list {
  display: flex;
  gap: 23px;
  margin: 0;
  padding: 0;
}
.promo {
  font-family: "Playfair Display", serif;
  color: #1b1a17;
  margin-top: 26px;
  margin-left: 185px;
}
.promo__title {
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  margin: 0;
  padding: 0;
  margin-top: 236px;
}
.promo__sub-title {
  font-size: 30px;
  line-height: 40px;
  margin: 0;
  margin-top: 16px;
}
.promo__description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: rgba(27, 26, 23, 0.82);
  margin-top: 39px;
}
.promo__img {
  position: absolute;
  right: 300px;
  top: 76px;
}
.promo__price {
  font-family: "Prata", serif;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  left: 440px;
  bottom: 650px;
}
.promo__price::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 100%;
  margin-left: 15.4px;
  width: 50px;
  background-color: #8B8371;
  height: 1px;
}
.promo__characteristics {
  position: relative;
  left: 900px;
  top: -130px;
  font-family: "Prata", serif;
  font-size: 16px;
  line-height: 22px;
}
.promo__characteristics::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 100%;
  margin-right: 15.4px;
  width: 50px;
  background-color: #8B8371;
  height: 1px;
}

.button_dark {
  margin-top: 90px;
  margin-bottom: 233px;
}
.button_dark .button {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 26px 38px;
  background-color: #444240;
  margin: 0;
}

.popular {
  margin: 0;
}
.popular__title {
  margin: 0;
  margin-top: 79px;
  text-align: center;
  margin-bottom: 4px;
}
.popular__show-more {
  position: absolute;
  right: 98px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #444240;
  border-bottom: 1px solid #c4c0b6;
}
.popular__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  gap: 34px;
  margin-top: 52px;
  margin-bottom: 86px;
}
.popular__item {
  background-color: #fdfdfb;
  width: 370px;
}
.popular__card {
  padding-bottom: 40px;
}

.heading {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 400;
}

.card__title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(27, 26, 23, 0.82);
  margin: 0;
  margin-top: 40px;
  margin-left: 40px;
}
.card__price {
  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
  margin: 0;
  margin-left: 40px;
}
.card__img {
  filter: drop-shadow(2px 2px 10px rgba(85, 82, 72, 0.23));
}
.card__link {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  line-height: 21px;
  color: #1b1a17;
  margin-left: 88px;
  margin-bottom: 40px;
  position: relative;
}
.card__link::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 100%;
  margin-right: 18px;
  width: 30px;
  background-color: #8B8371;
  height: 1px;
}

.advantages {
  background-color: #fdfdfb;
}
.advantages__list {
  margin: 0;
  padding: 0;
  margin-left: 177px;
  margin-top: 52px;
  margin-bottom: 20px;
}
.advantages__item {
  display: flex;
  gap: 69px;
}
.advantages__title {
  margin: 0;
  margin-top: 88px;
}
.advantages__description {
  display: block;
  width: 376px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #444240;
  margin-top: 38px;
  margin-bottom: 70px;
}
.advantages__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 26px 38px;
  background-color: #D4B098;
}
.advantages__slider-control {
  margin-left: 552px;
}
.advantages__button {
  background: none;
  border: none;
  outline: inherit;
  margin-bottom: 21px;
}

.news-company {
  margin: 86px 0;
  display: flex;
  gap: 71px;
}
.news-company__left {
  margin: 0;
  margin-left: 97px;
}
.news-company__text {
  margin: 0;
  margin-top: 140px;
}
.news-company__description {
  display: block;
  width: 376px;
  font-size: 16px;
  line-height: 27px;
  color: #444240;
  margin: 0;
  margin-top: 40px;
}
.news-company__right {
  display: flex;
  gap: 10px;
}
.news-company__img-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.news-company:last-child {
  height: 460px;
}

.socials__list {
  margin: 0;
  padding: 0;
  margin-top: 118.67px;
  display: flex;
  gap: 18px;
  margin-bottom: 63px;
}
.page-footer {
  background-color: #444240;
  display: flex;
  justify-content: space-between;
  gap: 118px;
  padding: 67px 182px;
}
.page-footer__logo {
  margin-bottom: 23px;
}
.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.page-footer__link {
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  display: block;
}
.page-footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 33px;
}
.page-footer__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}/*# sourceMappingURL=style.css.map */