body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #444240;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

.page-header {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    &__main-nav {
        display: flex;
    }
}

.main-nav {
    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        gap: 65px;
        margin-left: 266px;
    }
    &__link {
        font-size: 14px;
        line-height: 16px;
        color: #555248;
    }
}

.user-nav {
    &__list {
        display: flex;
        gap: 23px;
        margin: 0;
        padding: 0;
    }
}
.promo {
    font-family: "Playfair Display", serif;
    color: #1b1a17;
    margin-top: 26px;
    margin-left: 185px;

    &__title {
        font-weight: 400;
        font-size: 45px;
        line-height: 60px;
        margin: 0;
        padding: 0;
        margin-top: 236px;
    }
    &__sub-title {
        font-size: 30px;
        line-height: 40px;
        margin: 0;
        margin-top: 16px;
    }
    &__description {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: rgba(27, 26, 23, 0.82);
        margin-top: 39px;
    }
    &__img {
        position: absolute;
        right: 300px;
        top: 76px;
    }

    &__price {
        font-family: 'Prata', serif;
        font-size: 16px;
        line-height: 22px;
        position: relative;
        left: 440px;
        bottom: 650px;
        &::after{
            position: absolute;
            content: '';
            top: 50%;
            left: 100%;
            margin-left: 15.4px;
            width: 50px;
            background-color: #8B8371;
            height: 1px;
        }
        
    }    
    &__characteristics {
        position: relative;
        left: 900px;
        top: -130px;
        font-family: 'Prata', serif;
        font-size: 16px;
        line-height: 22px;
        &::before{
            position: absolute;
            content: '';
            top: 50%;
            right: 100%;
            margin-right: 15.4px;
            width: 50px;
            background-color: #8B8371;
            height: 1px;
        }
    }
}

.button_dark {
    margin-top: 90px;
    margin-bottom: 233px;
    .button{
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #ffffff;
        padding: 26px 38px;
        background-color: #444240;
        margin: 0;
    }   
}

.popular {
    margin: 0;
    &__title {
        margin: 0;
        margin-top: 79px;
        text-align: center;
        margin-bottom: 4px;
    }
    &__show-more {
        position:absolute;
        right: 98px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #444240;
        border-bottom: 1px solid #c4c0b6;
    }
    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        gap: 34px;
        margin-top: 52px;
        margin-bottom: 86px;
    }
    &__item {
        background-color: #fdfdfb;
        width: 370px;
    }
    &__card {
        padding-bottom: 40px;
    }
}

.heading {
    font-family: 'Playfair Display', serif;
    font-size: 32px ;
    font-weight: 400;
}

.card {
    &__title {
        font-family: "Playfair Display", serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: rgba(27, 26, 23, 0.82);
        margin: 0;
        margin-top: 40px;
        margin-left: 40px;
    }
    &__price {
        font-family: 'Prata', serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: rgba(27, 26, 23, 0.82);
        margin: 0;
        margin-left: 40px;
    }
    &__img {
        filter: drop-shadow(2px 2px 10px rgba(85, 82, 72, 0.23));
    }
    &__link {
        font-family: "Playfair Display", serif;
        font-size: 16px;
        line-height: 21px;
        color: #1b1a17;
        margin-left: 88px;
        margin-bottom: 40px;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            top: 50%;
            right: 100%;
            margin-right: 18px;
            width: 30px;
            background-color: #8B8371;
            height: 1px;
        }
    }
}

.advantages {
    background-color: #fdfdfb;
    &__list {
        margin: 0;
        padding: 0;
        margin-left: 177px;
        margin-top: 52px;
        margin-bottom: 20px;
    }
    &__item {
        display: flex;
        gap: 69px;
    }
    &__title {
        margin: 0;
        margin-top: 88px;
    }
    &__description {
        display: block;
        width: 376px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #444240;
        margin-top: 38px;
        margin-bottom: 70px;
    }
    &__link {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #ffffff;
        padding: 26px 38px;
        background-color: #D4B098;
    }
    &__slider-control {
        margin-left: 552px;
        
    }
    &__button {
        background: none;
	    border: none;
	    outline: inherit;
        margin-bottom: 21px;
    }
}

.news-company {
    margin: 86px 0;
    display: flex;
    gap: 71px;
    // .news-company__left

    &__left {
        margin: 0;
        margin-left: 97px;
    }
    &__text {
        margin: 0;
        margin-top: 140px;
    }
    &__description {
        display: block;
        width: 376px;
        font-size: 16px;
        line-height: 27px;
        color: #444240;
        margin: 0;
        margin-top: 40px;
    }
    &__right {
        display: flex;
        gap: 10px;
    }
    &__img-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &:last-child{
        height: 460px;
    }
}

.socials {    
    &__list {
        margin: 0;
        padding: 0;
        margin-top: 118.67px;
        display: flex;
        gap: 18px;
        margin-bottom: 63px;
    }
}

.page-footer {
    background-color: #444240;
    display: flex;
    justify-content: space-between;
    gap: 118px;
    padding: 67px 182px;
    &__logo {
        margin-bottom: 23px;
    }
    &__wrapper {
       display: flex;
       flex-direction: column;
       gap: 15px;
    }
    &__link {
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.75);
        text-decoration: none;	
        display:block;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #ffffff;
        margin: 0;
        margin-bottom: 33px;
    }
    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
